<app-header></app-header>
<main>
  <!--postCreated ตัวแปรใน post-create.component.ts-->
  <!--function onPostAdded รับค่ามาแล้วส่งต่อไปยังตัวแปร postCreated ใน post-create -->
  <app-post-create (postCreated)="onPostAdded($event)"></app-post-create>
  <!--function onPostAdded รับค่ามาแล้วส่งต่อไปยังตัวแปร storedPosts ใน app.component.ts -->
  <!--storedPosts ส่งข้อมูลต่อใไ้ posts ใน post-list.component.ts-->
  <!--posts ตัวแปรใน post-list.component.ts-->
  <app-post-list [posts]="storedPosts"></app-post-list>
</main>

